<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>nowy sprzet</title>
    <link rel="stylesheet" href="/webjars/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <div class="row justify-content-md-center" layout:fragment="content">
        <div class="col-lg-6 col-sm-12">
            <h1 th:text="${formTitle}"></h1>
            <form method="post" th:object="${dto}">

                <div class="form-group">
                    <label th:for="date">Data</label>
                    <input type="date" class="form-control" placeholder="rrrr-mm-dd" th:field="*{date}">
                </div>
                <div class="form-group">
                    <label th:for="name">Nazwa</label>
                    <input type="text" class="form-control" th:field="*{name}">
                </div>

                <div class="form-group">
                    <label for="inventory_number">Numer inwentarzowy</label>
                    <input type="text" class="form-control" id="inventory_number" name="inventoryNumber"
                           th:value="*{inventoryNumber}">
                </div>

                <div class="form-group">
                    <label for="serial_number">Nr seryjny</label>
                    <input type="text" class="form-control" id="serial_number" name="serialNumber"
                           th:value="*{serialNumber}">
                </div>

                <div class="form-group form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="is_asset" name="asset" th:checked="*{asset}">
                    <label class="form-check-label" for="is_asset">Srodek trwaly?</label>
                </div>

                <div class="form-group form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="to_remove" name="toDelete"
                           th:checked="*{toDelete}">
                    <label class="form-check-label" for="to_remove"> Do kasacji?</label>
                </div>

                <div class="form-group">
                    <label for="note">Uwagi</label>
                    <textarea class="form-control" rows="5" id="note" name="note" th:value="*{note}"></textarea>
                </div>

                <button type="submit" class="btn btn-primary">Zapisz</button>

                <ul th:if="${#fields.hasErrors()}">
                    <li th:each="err: ${#fields.errors()}" th:text="${err}"></li>
                </ul>
            </form>


        </div>
    </div>
</div>
</body>
</html>
