<!DOCTYPE html>
<html lang="pl" xmlns:th="www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="www.thymeleaf.org ">
<head th:replace="fragments :: header ('Przerzut')">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dodaj nowy sprzet</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-sm-12">
            <h2 th:text="${equipmentName}">Komputer HP Comapq</h2>
            <h2 th:text="${equipmentInventoryNumber}">2018/294</h2>

            <form method="post" th:action="@{/equipment/transfer(equipmentId=${equipmentId})}" th:object="${equipmentEvent}">
                <legend>Przerzut</legend>

                <div class="form-group">
                    <label for="date">Data</label>
                    <input type="date" class="form-control" id="date" name="date" th:value="*{date}">
                </div>

                <div class="form-group">
                    <label for="note">Kto, gdzie?</label>
                    <input type="text" class="form-control" id="note" name="note" th:value="*{note}">
                </div>

                <div class="form-group">
                    <label for="document">Dokument</label>
                    <input type="text" class="form-control" id="document" name="document" th:value="*{document}">
                </div>

                <button type="submit" class="btn btn-primary">Zapisz</button>
            </form>

        </div>
    </div>
</body>
</html>
