<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head layout:fragment="header ('Kasacja')">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dodaj nowy sprzet</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div layout:fragment="content" class="row justify-content-md-center">
        <div class="col-sm-12" th:object="${equipment}">
            <h1>Kasacja</h1>
            <h3 th:text="*{name}">Komputer HP Comapq</h3>
            <h3 th:text="*{inventoryNumber}">2018/294</h3>
            <h3 th:text="*{serialNumber}">Nr seryjny</h3>
            <h3 th:text="*{state.stateDescription}">Na stanie</h3>

            <form method="post" th:action="@{/equipment/cassation(id=${equipment.id})}">
                <div class="form-group">
                    <label for="document">Dokument kasacji</label>
                    <input type="text" class="form-control" id="document" name="document">
                </div>

                <button type="submit" class="btn btn-danger">KASACJA</button>
            </form>
        </div>

    </div>
</div>
</body>
</html>
