<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>sprzet uzywany</title>
    <link rel="stylesheet" href="/webjars/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>
<div class="row" layout:fragment="content">
    <div class="col-sm-12">
        <form class="form-inline">
            <fieldset>
                <input class="form-control" type="search" name="query" placeholder="Wyszukaj"
                       th:value="${query}"/>
                <div class="form-check form-check-inline">
                    <label for="asset" class="form-check-label">Srodki trwale</label>
                    <input class="form-check-input" type="checkbox" id="asset" name="asset"
                           th:checked="${asset}">
                </div>
                 <div class="form-check form-check-inline">
                    <label for="toDelete" class="form-check-label">Do kasacji?</label>
                    <input class="form-check-input" type="checkbox" id="toDelete" name="toDelete"
                           th:checked="${toDelete}">
                </div>
                <button class="btn btn-sm btn-outline-success" type="submit">Szukaj</button>
            </fieldset>
        </form>
        <p th:text="${'Stan: ' + {inStock} + ' pozycji. W tym wypozyczonych: ' + {lended} + '.'}">
            Stan
        </p>
        <table class="table table-bordered table-striped table-hover table-responsive-md">
            <thead>
            <tr>
                <th>Stan</th>
                <th>Numer</th>
                <th>Nazwa</th>
                <th>Srodek trwaly?</th>
                <th>Do kasacji?</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="equip : ${equipments}" th:object="${equip}"
                th:onclick="'window.location.href=\'/equipment?id=' + ${equip.id} + '\';'">
                <td th:text="*{state.stateDescription}">Stan</td>
                <td th:text="*{inventoryNumber}">Numer inwentarzowy</td>
                <td th:text="*{name}">Nazwa</td>
                <td th:text="*{asset}">Srodek trwaly</td>
                <td th:text="*{toDelete}">Do kasacji?</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<!--containeer -->
</body>
</html>