<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <!--<meta charset="UTF-8">-->
    <title>sprzet uzywany</title>
    <!--<link rel="stylesheet" href="/webjars/bootstrap/4.1.3/css/bootstrap.min.css">-->
    <!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"-->
    <!--integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">-->
</head>
<body>
<div class="row" layout:fragment="content">
    <div class="col-sm-12">
        <form class="form-inline">
            <fieldset>
                <legend>Filtruj</legend>
                <div class="form-row">
                    <input class="form-control col-md-4" type="search" name="query" placeholder="Wyszukaj"
                           th:value="${query}"/>
                    <div class="form-group col-md-8">
                        <select class="form-control" id="state" name="state">
                            <option value="-1" th:selected="${state == '-1'}">Wszystkie</option>
                            <option th:each="s: ${states}" th:value="${s.ordinal()}"
                                    th:selected="${s.ordinal() == state}"
                                    th:text="${s.stateDescription}"></option>
                        </select>

                        <select class="form-control" id="attribs" name="attribs">
                            <option value="all" th:selected="${attribs == 'all'}">Wszystkie</option>
                            <option value="st" th:selected="${attribs == 'st'}">Tylko ST</option>
                            <option value="nn" th:selected="${attribs == 'nn'}">Tylko NN</option>
                            <option value="all_toDelete" th:selected="${attribs == 'all_toDelete'}">Do kasacji</option>
                            <option value="st_toDelete" th:selected="${attribs == 'st_toDelete'}">ST do kasacji</option>
                            <option value="nn_toDelete" th:selected="${attribs == 'nn_toDelete'}">NN do kasacji</option>
                        </select>
                        <!--</div>-->
                        <!--<div class="form-group col-md-4">-->
                        <div>
                        </div>
                        <button class="btn btn-sm btn-outline-success" type="submit">Szukaj</button>
                    </div>
            </fieldset>
        </form>
        <table class="table table-bordered table-striped table-hover table-responsive-md">
            <thead>
            <tr>
                <th>Stan</th>
                <th>Numer</th>
                <th>Nazwa</th>
                <th>ST</th>
                <th>Kasacja</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="equip : ${equipments}" th:object="${equip}"
                th:onclick="'window.location.href=\'/equipment?id=' + ${equip.id} + '\';'">
                <td th:switch="*{state}">
                    <i th:case="${T(pl.jdomanski.esu.equipmentEvent.EquipmentState).IN_STOCK}" class="fas fa-check"></i>
                    <i th:case="${T(pl.jdomanski.esu.equipmentEvent.EquipmentState).TRANSFERED}"
                       class="fas fa-backward"></i>
                    <i th:case="${T(pl.jdomanski.esu.equipmentEvent.EquipmentState).LENDED}"
                       class="fas fa-user-check"></i>
                    <i th:case="${T(pl.jdomanski.esu.equipmentEvent.EquipmentState).DELETED}" class="fas fa-times"></i>
                </td>
                <td th:text="*{inventoryNumber}">Numer inwentarzowy</td>
                <td th:text="*{name}">Nazwa</td>
                <td><i th:if="*{asset}" class="fas fa-check"></i></td>
                <td><i th:if="*{toDelete}" class="fas fa-check"></i></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<!--containeer -->
</body>
</html>